doctype html
head
  title Grim Giveaway | Win A Copy of Grim Dawn 

  //- meta tags
  meta(name="viewport", content="width=device-width, initial-scale=1")
  block meta
  
  //- fonts
  link(href='http://fonts.googleapis.com/css?family=Roboto:100,400', rel='stylesheet')

  //- vendor stylesheets
  != css('vendor/vendor')

  //- local stylesheets
  != css('app')

body
  .container
    .row
      block content

  //- vendor scripts
  != js('vendor/vendor')

  //- local scripts
  != js('app')
