doctype html
head
  title Express

  //- meta tags/seo
  meta(name="viewport", content="width=device-width, initial-scale=1")
  block meta
  
  //- vendor stylesheets
  != css('vendor/vendor')

  //- local stylesheets
  != css('app')

body
  block content

  //- vendor scripts
  != js('vendor/vendor')

  //- local scripts
  != js('app')
