doctype html
head
  title Express

  //- meta tags/seo
  meta(name="viewport", content="width=device-width, initial-scale=1")
  block meta
  
  //- vendor stylesheets
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
  block vendor-styles

  //- local stylesheets
  != css('app')
  block local-styles

body
  //- TODO: navigation
  block content

  //- vendor scripts
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  block vendor-scripts

  //- local scripts
  != js('app')
  block local-scripts
