extends ../application

block content
  .text-center
    h1 404
    :markdown
      The page that you are looking for could not
      be found.
    a(href='/')
      button.btn.btn-default Return Home
