extends ../application

block content
  .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3 
    include ../includes/timer
    .panel.panel-default
      .panel-heading.text-center Congratulations
      .panel-body
        a(href='#{data.profile_url}')
          img(src='#{data.icon_url}').center-block
        .text-center
          h3= data.profile_name
        :markdown
          Your Steam account has been entered for a chance to win a copy of Grim Dawn.
          At the end of every month, a Steam account will be chosen at random to receive
          a copy of Grim Dawn. The winning account will receive a friend request from
          [stayBlind](http://steamcommunity.com/id/stayBlind), and upon acceptance of
          the friend request, the winning account will be gifted (via Steam) a copy
          of the game. 
          
          _**If the friend request is not accepted within 48 hours your
          winnings will be forfeit, and another random entrant will be chosen.**_

          Good luck!

