extends ../application

block content
  .col-sm-5.col-sm-offset-3 
    .text-center
      h1 Congratulations!
    a(href='#{data.profile_url}')
      img(src='#{data.icon_url}').center-block
    .text-center
      h3= data.profile_name
