extends ../application

block content
  .col-sm-5.col-sm-offset-3 
    .text-center
      h1 Congratulations!
    a(href='#{user.profileurl}')
      img(src='#{user.avatarfull}').center-block
    .text-center
      h3= user.personaname
