extends ../application

block content
  .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-3
    p.text-center Next drawing in
    #countdown.text-center
    form(action='/', method='post')
      if error
        .alert.alert-danger
          span= error
      .form-group
        input(type='text', placeholder='Steam Profile Name', name='profileName', required).form-control
        .text-center
          a(href='http://forums.steampowered.com/forums/showpost.php?p=27435703&postcount=3', target='_blank')#profile-help
            | How do I find my Steam Profile Name?
      button(type='submit').btn.btn-default.center-block Submit
    .text-center
      a(href='//github.com/nmalacarne/grim-giveaway.com', target='_blank') source
      | &nbsp;|&nbsp;
      a(href='mailto:nick@grim-giveaway.com') contact
