extends ../application

block content
  .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-3.col-md-5.col-md-offset-3
    include ../includes/timer
    a(href='/auth')
      img(
        src='http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png'
      ).center-block
    #disclaimer.text-center
      :markdown
        By entering this contest, you are allowing this application to utilize and store public Steam data including your
        [Steam ID, profile URL/Name, and profile avatar](https://developer.valvesoftware.com/wiki/SteamID).

        This contest is in no way affiliated with [Valve Software](http://www.valvesoftware.com/) or 
        [Crate Entertainment](http://www.crateentertainment.com/)
    .text-center
      a(href='//github.com/nmalacarne/grim-giveaway.com', target='_blank') source
      | &nbsp;|&nbsp;
      a(href='mailto:nick@grim-giveaway.com') contact
    #powered-by.text-center
      a(href='http://steampowered.com', target='_blank') Powered by Steam
